@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap");
html {
  font-size: 62,5%; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

/* BODY GRID */
body {
  display: grid;
  height: 100vh;
  grid-template-areas: " header" " main" " footer";
  grid-template-rows: 120px auto 45px;
  grid-template-columns: auto;
  font-family: 'Antonio', sans-serif;
  background-image: url(../recursos/BordesMain.jpg);
  background-position: center;
  background-size: cover; }

/* HEADER */
header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: black;
  align-items: center;
  justify-content: center; }

/* NAV */
nav {
  height: 120px;
  width: 102%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  background-color: black; }

.logo {
  position: absolute;
  top: 16px;
  width: 170px;
  z-index: 2;
  margin-left: 85px;
  transition: 0.5s ease-in-out; }
  .logo:hover {
    transform: rotateZ(20deg) scale(1.1); }

.btn {
  font-size: 34px;
  color: white;
  margin-right: 30px;
  cursor: pointer; }

.nav-menu {
  position: fixed;
  width: 102%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.95);
  text-align: center;
  transition: all .5s; }
  .nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
    margin-top: 140px; }
    .nav-menu li a {
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600; }

#check {
  display: none; }
  #check:checked ~ .nav-menu {
    height: 100vh; }
    #check:checked ~ .nav-menu li {
      display: block; }

.bar {
  width: 60px;
  height: 60px; }

/* MAIN */
.main {
  background-image: url(../recursos/Fondo_Main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; }
  .main__article {
    width: 50%;
    margin-right: 50px; }
  .main__titulo {
    text-align: center;
    font-family: 'Alex Brush', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 160px;
    mix-blend-mode: hard-light;
    color: #ffffff;
    text-shadow: 7px 8px 0px rgba(191, 178, 178, 0.31); }
  .main__h2 {
    font-size: 1.5em;
    color: #ffffff;
    text-shadow: 7px 8px 0px rgba(191, 178, 178, 0.31);
    text-align: center; }

/*MAIN ARTISTAS */
.titulo {
  font-size: 55px;
  margin-top: 40px;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 7px 8px 0px rgba(191, 178, 178, 0.31); }

.mainP {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center; }

.imagen {
  width: 250px;
  height: 280px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3); }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 60px; }

.card {
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 280px;
  height: 350px;
  background-color: silver;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3); }

/* MAIN GALERIA */
.galeria__contenedor {
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  column-gap: 10px;
  row-gap: 10px; }

.galeria__imagen {
  width: 300px;
  height: 350px;
  object-fit: cover;
  object-position: center; }

/* MAIN CONTACTO */
.form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  margin-top: 40px;
  border-radius: 7px; }

.h2Contacto {
  color: #ffffff;
  text-align: center;
  font-family: 'Antonio', sans-serif;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px; }

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 17px;
  border: none; }

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 17px;
  border: none;
  min-height: 100px;
  min-width: 100%;
  max-height: 200px;
  max-width: 100%; }

#boton {
  background: #804980;
  color: #ffffff;
  font-family: 'Antonio', sans-serif;
  padding: 20px; }

#boton:hover {
  cursor: pointer; }

.picture__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 200px;
  height: 100px;
  margin-bottom: 25px;
  gap: 20px;
  border-radius: 10px; }

.logo__wpp {
  width: 60px; }

.whatsapp {
  color: #ffffff;
  font-size: 20px; }

/* MAIN UBICACION */
.ubicacion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 120px; }
  .ubicacion__article {
    background-color: black;
    width: 220px;
    height: 100px;
    border-radius: 10px; }
  .ubicacion__texto {
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Antonio', sans-serif;
    text-align: center;
    margin-top: 25px; }

.mapa {
  width: 60%; }

/* FOOTER */
.footer {
  width: 100%;
  background-color: black;
  color: white; }
  .footer__section {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center; }
  .footer__p {
    margin-right: 20px; }

.logo__redes {
  width: 30px;
  height: 30px;
  border-radius: 10px; }
  .logo__redes:hover {
    animation: vibrar 0.5s;
    animation-iteration-count: infinite;
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7; }

@keyframes vibrar {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg); }
  20% {
    transform: translate(-1px, 0px) rotate(1deg); }
  30% {
    transform: translate(1px, 1px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-1px, 1px) rotate(0deg); }
  70% {
    transform: translate(1px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  90% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  100% {
    transform: translate(1px, -1px) rotate(-1deg); } }

/* MEDIA SCREENS */
@media screen and (max-width: 1095px) {
  .main {
    background-image: url(../recursos/fondoMainMob.jpg);
    align-items: center; }
  .main__article {
    margin-right: 0px; }
  .logo {
    margin-left: 30px; }
  .container {
    margin-top: 20px;
    margin-bottom: 30px; } }

@media screen and (max-width: 715px) {
  .logo {
    margin-left: 30px; }
  .titulo {
    margin: 70px; }
  .ubicacion {
    padding-top: 10px;
    margin-bottom: 20px; }
  .picture__flex {
    margin-top: 40px; } }

@media screen and (min-width: 950px) {
  nav {
    height: 120px;
    position: fixed;
    background-color: black; }
  .btn {
    display: none; }
  .neon {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    transition: 0.2s;
    border-radius: 4px; }
  .neon:hover {
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7; }
  .nav-menu {
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: center;
    padding-top: 10px;
    margin-left: 60px; }
  .nav-menu li {
    display: inline-block;
    margin: 0 5px;
    margin-top: 32px;
    transition: none; }
  .nav-menu li a {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px; } }
